footer{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D4C1EC;
}
footer h1{
    text-align: center;
}
.infor_contato{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 50px;
}
#mensagem{
    width: 88.9%;
    height: 75%;
    padding: 50px;
    margin: 50px;
}
.form-input{
    width: 100%;
    background: #fff;
    border: 1px solid;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    font-size: 1.2rem;
}
.form-input:focus{
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 8px 30px rgb(8, 42, 109);
}
.Footer_Final{
    display: flex;
    padding-bottom: 20px;
}
#Diretos{
    padding-top: 30px;
    padding-right: 500px;
}
#Enviar{
    display: flex;
    align-items: center;
    justify-self: center;
    position: relative;
    padding: 5px 100px;
    background: #736CED;
    border-radius: 50px;
    color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: transform .2px ease;
    box-shadow: 0 1px 5px #000;
}
#Enviar:active{
    transform: scale(0.9);
}
#Enviar::before,
#Enviar::after{
    content: "";
    position: absolute;
    height: 100%;
    left: 70%;
    transform: translateX(-50%);
    width: 150%;
    background-repeat: no-repeat;
}
#Enviar.animate::before{
    top: -70%;
    background-image: radial-gradient(circle,#736CED 20%,transparent 20%),
    radial-gradient(circle, transparent 20%,#736CED 20%,transparent 30%),
    radial-gradient(circle,#736CED 20%,transparent 20%),
    radial-gradient(circle, transparent 10%,#736CED 15%,transparent 20%),
    radial-gradient(circle,#736CED 20%,transparent 20%),
    radial-gradient(circle,#736CED 20%,transparent 20%),
    radial-gradient(circle,#736CED 20%,transparent 20%),
    radial-gradient(circle,#736CED 20%,transparent 20%);
    background-size: 1rem 1rem, 2rem 2rem, 1.5rem 2rem,2rem 2rem,1.8rem 1.8rem, 1rem 1rem,1.5rem 1.5rem, 1.8rem 1.8rem;
    background-position: 5% 90%, 10% 90%,10% 90%, 15% 90%, 25% 90%,25% 90%, 40% 90%, 55% 90%, 70% 90%;
    animation:topBubbles3 0.6s  ease-in-out forwards;
}
@keyframes topBubbles3 {
    50%{
        background-position: 0% 80%, 0% 20%,10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100%{
        background-position: 0% 70%, 0% 10%,10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%,0% 0%,0% 0%, 0% 0%;
    }
}
#Enviar.animate::after{
    bottom: -70%;
    background-image: radial-gradient(circle,#736CED 20%,transparent 20%),
    radial-gradient(circle, transparent 10%,#736CED 15%,transparent 20%),
    radial-gradient(circle,#736CED 20%,transparent 20%),
    radial-gradient(circle,#736CED 20%,transparent 20%),
    radial-gradient(circle,#736CED 20%,transparent 20%),
    radial-gradient(circle,#736CED 20%,transparent 20%),
    radial-gradient(circle,#736CED 20%,transparent 20%);
    background-size: 1.5rem 1.5rem, 2rem 2rem, 1.8rem 1.8rem,2rem 2rem,1.5rem 1.5rem, 2rem 2rem, 1.8rem 1.8rem;
    background-position: 10% 0%, 30% 10%,55% 0%, 70% 0%, 85% 0%,70% 0%, 70% 0%;
    animation:bottomBubbles3 0.6s  ease-in-out forwards;
}
@keyframes bottomBubbles3 {
    50%{
        background-position: 0% 80%, 20% 80%,45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100%{
        background-position: 0% 90%, 20% 90%,45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%,0% 0%,0% 0%, 0% 0%;
    }
}